<div id="top-nav-bar" role="banner" >
  <div class="nav-bar-content container row ">
    <div class="col-xs-3 col-sm-3 ep-vcenter">
      <a href="#" ng-show="ctrl.sessionData.currentUser" ng-click="ctrl.logout()">{{::'Logout' | translate}}</a>
    </div>
    <div class="hidden-xs col-sm-6 logo-img ep-vcenter">
    </div>
    <div class="col-xs-9 col-sm-3 ep-vcenter">
      <a href="#" ng-show="!ctrl.sessionData.currentUser" ng-click="ctrl.openLoginDialog()">{{::'Sign in' | translate}}</a>
      <div ng-show="ctrl.sessionData.currentUser" class="logged-user-details">
        <img ng-src="{{ctrl.avatarImageUrl}}" class="user-avatar"/>
        {{ctrl.sessionData.currentUser.lastName}} {{ctrl.sessionData.currentUser.firstName}}
      </div>
    </div>
  </div>
  <div class="home-header-image" ng-show="ctrl.$state.current.name === 'app.public.main'">
    <img src="../../../../images/knesset-banner.jpg"><!-- I'm invisible - only here to take the background image space-->
  </div>


</div>
