<div class="container page-content-container row">
  <div class="col-xs-12">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-8">

    </div>
    <div class="col-xs-3">

    </div>
    <div class="col-xs-6"></div>
  </div>

  <div class="hidden-xs col-xs-12 col-sm-3 nav-side-bar">
    <widgets-sidebar></widgets-sidebar>
  </div>
  <div class="col-xs-12 col-sm-7 content-feed">
    <content-feed feed-posts="ctrl.feedPosts"></content-feed>
  </div>
  <div class="col-xs-12 col-sm-2 nav-side-bar">
    <div class="side-widget">
      <site-navigation></site-navigation>
    </div>
  </div>

</div>
