@import "variables";
@import "responsive";

body {
  direction: rtl;
  background-color: #F1F1F1;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
@include media-min($layout-breakpoint-sm) {
/*  .view-container {
    max-width: $layout-breakpoint-sm;
  }*/
  .page-content-container {
    width: 1200px;
    margin: auto;
  }
}

