.nav-side-bar {
  background-color: #00acd6;
  min-height: 400px;
  padding-left: 0px;
  padding-right: 0px;
  .side-widget {
    background-color: red;
    min-height: 100px;
    margin-bottom: 20px;
  }
}
