@import "variables";

#top-nav-bar {
  background-color: $primary-color;
  margin-bottom: 15px;
  .nav-bar-content {
    max-width: $desktop-max-width;
    height: 50px;
    margin: auto;
    font-size: 16px;
    .logo-img {
      background-image: url('../images/epart-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 42px;
    }
    a {
      color: #ffffff;
    }
  }
  .home-header-image {
    background-color: #F1F1F1;
    width: 100%;
    background-image: url("../images/knesset-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    img {
      vertical-align: top;
      width: 100%; /* max width */
      visibility: hidden;
    }

  }

}
