<div class="feed-items-container" ng-repeat="postsSection in feedPosts">
  <div class="feed-section-title">
    <h3>{{postsSection.title}}</h3>
    <h6>{{postsSection.subtitle}}</h6>
  </div>
  <div class="feed-post-item" ng-repeat="post in postsSection.posts">
    <a ui-sref="^.post({permaLink: post.permaLink, id: post.id})">
      <div class="img-container" back-img="{{post.featuredImage}}">
        <!--<div class="categories-container"></div>-->
      </div>
    </a>
    <div class="content-display">
      <div class="texts-wrapper">
        <a ui-sref="^.post({permaLink: post.permaLink, id: post.id})"><h3>{{post.title}}</h3></a>
        <a class="hidden-xs" ui-sref="^.post({permaLink: post.permaLink, id: post.id})"><h6>{{post.subtitle}}</h6>
        </a>
        </divclas>
        <div class="user-engagement-bar">
          <div class="votes-box upvotes">
            {{ 'Voted for' | translate }} {{post.upVotes}}5%
          </div>
          <div class="votes-box downvotes">
            {{ 'Voted against' | translate }} {{post.downVotes}}10%
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
