<div class="site-nav-links" role="navigation">
  <!-- Main site links -->

  <ul>
      <li ng-repeat="li in ctrl.primaryLinks">
        <a ui-sref="{{li.state}}"
           class="primary-link" ng-class="{active : ctrl.$state.is(li.state)}">{{li.text | translate}}</a>
      </li>
      <li>
        <a href="#" ng-show="!ctrl.sessionData.currentUser"  ng-click="ctrl.openLoginDialog()"
           class="primary-link" ng-class="{active : ctrl.$state.is(li.state)}">{{'Sign in' | translate}}</a>
      </li>
  </ul>
  <hr/>

  <!-- Categories links -->

  <div class="section-title">{{'Categories' | translate }}</div>
  <ul>
    <li ng-repeat="category in ctrl.categoriesList">
      <a ui-sref="^.category({slug: category.slug, id: category.id})"
         ng-class="{active: ctrl.$stateParams.slug === category.slug }" >{{category.name}}</a>
    </li>
  </ul>
  <hr/>

  <!-- Other site links -->
  <ul>
    <li ng-repeat="li in ctrl.secondaryLinks">
      <a ui-sref="{{li.state}}" class="secondary-link" ng-class="{active : ctrl.$state.is(li.state)}">{{li.text}}</a>
    </li>
  </ul>


</div>
